* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0c1022;
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}   

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover {
    color: #fd4766;
}


.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px 10% 0;
} 

.home-content {
    max-width: 500px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    margin: 0 0 30px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #fd4766;
}

.btn {
    width: 140px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
  background-size: 250%;
  background-position: left;
  color: #ffd277;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
}

.btn::before {
    position: absolute;
    content: "Let's work together";
    color: #ffd277;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, 0.842);
    background-size: 200%;
  }

.btn:hover {
    background-position: right;
    transition-duration: 1s;
}

.btn:hover::before {
    background-position: right;
    transition-duration: 1s;
}

.btn:active {
    transform: scale(0.95);
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: incline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transperant;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 35px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #081b29;

}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    border-radius: 50%;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
    width: 100%;
}

.home-img{
    width: 410px;
    height: 410px;
}

.home-img .glowing-circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img .glowing-circle::after {
    content: '';
    position: absolute;
    width: 380px;
    height: 380px;
    background: #0c1022;
    border-radius: 50%;
}

.glowing-circle .image {
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.image img {
    max-width: 350px;
    object-fit: cover;
}